<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDiHa6-cKfo3OzOgtFFE2vzT0dJUxpu8SE</string>
	<key>GCM_SENDER_ID</key>
	<string>706522420138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Justin-Zhang.EC</string>
	<key>PROJECT_ID</key>
	<string>ec-chat-8811e</string>
	<key>STORAGE_BUCKET</key>
	<string>ec-chat-8811e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706522420138:ios:41996cd2cc396fde8ad1d3</string>
</dict>
</plist>